
body {
  background: url(/img/travolta.jpg) no-repeat;
  background-size: cover;
}
.overlay {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

  .error404 {
  color: #fff;
  font-size: 8em;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 200px;
 } 